$main_color: #563d7c;

header {
    .logo {
        a {
            text-decoration: none;
        }
    }

    .row {
        background-color: $main_color;
        padding: 5px;
        border-radius: 5px;

        a {
            &:hover {
                color: gray;
            }
        }
    }
}

.waiting {
    position: absolute;
    width: 92vw;
    height: 90vh;
    background-color: rgba(255, 255, 255, 0.8);
//    border: 1px solid black;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
//        margin-left: auto;
//        margin-right: auto;
//        margin-top: auto;
//        margin-bottom: auto;
        width: 64px;
        height: 64px;
        background-image:url('./../img/loading.gif');
        background-repeat: no-repeat;
        z-index: 15;
    }
}

main {
    form {
        .btn {
            background-color: $main_color;
        }
    }

    .full_height {
        height: 80vh;
    }
}

.main_color {
    background-color: $main_color;
}

.total {
    border-radius: 5px;
}
